<html>
    <head>
        <title> Welcome to My Blog</title>
    </head>
    <body>
        <h1>
            This is my Home page of Blog!
        </h1>
        <%= link_to 'About' , about_path %>
    </body>
</html>